<h3>Lunch Application</h3>

<div class="row">
    <div class="col-sm-8">
        <div class="list-group">
            <a routerLink="/create-menu" class="list-group-item">
                <h4 class="list-group-item-heading">Создать меню</h4>
                <p class="list-group-item-text">Нажмите для создания нового меню.</p>
            </a>
            <a routerLink="/edit-lunch" class="list-group-item">
                <h4 class="list-group-item-heading">Выбрать блюда</h4>
                <p class="list-group-item-text">Перейдите для выбора блюд из активного меню.</p>
            </a>
            <a routerLink="/manage-orders" class="list-group-item">
                <h4 class="list-group-item-heading">Оформить заказ</h4>
                <p class="list-group-item-text">Сформировать и отправить заказ по активному меню.</p>
            </a>
        </div>
    </div>
</div>