<div *ngIf="!expanded">
    <button class="btn-link" (click)="expand()"> <i>Показать...</i> </button>
</div>
<div *ngIf="expanded">
    <button class="btn-link" (click)="expand()"> <i>Скрыть...</i> </button>
</div>

<div *ngIf="expanded">
    <div class="row">
        <ul>
            <li *ngFor="let section of lunch.sections">
                <span>{{section.name}}</span>
                <p style="text-indent: 0.5em;">✔  {{section.items[0].name}}</p>
            </li>
        </ul>
    </div>
</div>