<div *ngIf="!expanded">
    <button class="btn-link" (click)="expand()"> <i>Показать...</i> </button>
</div>
<div *ngIf="expanded">
    <button class="btn-link" (click)="expand()"> <i>Скрыть...</i> </button>
</div>

<div *ngIf="expanded">
    <div class="row">
        <ul>
            <li *ngFor="let section of lunch.sections">
                <i>{{section.name}}</i>
                <ul>
                    <li>{{section.items[0].name}}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>