<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home" routerLinkActive="active">Lunch Application</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/home">Home</a> </li>
      <li routerLinkActive="active"><a routerLink="/create-menu">Create Menu</a> </li>
      <li routerLinkActive="active"><a routerLink="/edit-lunch">Edit Lunch</a> </li>
      <li routerLinkActive="active"><a routerLink="/manage-orders">Manage Orders</a> </li>
   </ul>
   </div>
</nav>
